<!DOCTYPE html>
<html>
    <head>
        <title>CyShelter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to CyShelter!</h1>
            <p class="lead">A Cyclone Shelter Management App for effective management of the cyclone shelters in the city during the times of distress. It has all the necessary functions catering to the needs of cyclone victims and shelters alike.</p>
            <hr class="my-4">
            <p>Click the button below to view all the Cyclone Shelters in the City.</p>
            <a href="/shelters" class="btn btn-lg btn-success">View All Cyclone Shelters</a>
          </div>
    </div>

<%- include("./partials/footer") %> 